.modal__input {
}

.modal__input_type_email {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.modal__input_type_password {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
