.bookservice__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bookservice__button {
  background: none;
  border: none;
  cursor: pointer;
}
.bookservicer__hidden-options {
  display: flex;
  gap: 50px;
}
