.nav__container {
  display: flex;
  justify-content: space-around;

  align-items: center;
  position: fixed;
  right: -60px;
  top: -30px;
  left: 0;
}
.nav__links {
  list-style-type: none;
  display: flex;
  gap: 10px;
  font-family: Roboto, sans-serif;
}
.nav__logo {
  max-width: 300px;
  height: auto;
}

.nav__sign-in {
  cursor: pointer;
}

.nav__sign-up {
  cursor: pointer;
}

.nav__craftmanship {
  cursor: pointer;
}

.nav__book-service {
  cursor: pointer;
}
