.footer {
  font-family: Roboto, sans-serif;

  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.footer__copyright {
  padding-left: 60px;
}

.footer_contact {
  padding-right: 60px;
}
